# project executables.
server/wraps/wraps
server/cmd/server
cltest/cltest

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# emacs backups
*~

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# can be regen'd by make proto in server/pb/
client/folios/lib/folio.pbgrpc.dart
client/folios/lib/folio.pb.dart
client/folios/lib/folio.pbenum.dart
client/folios/lib/folio.pbjson.dart
client/folios/lib/google/protobuf/any.pb.dart
client/folios/lib/google/protobuf/any.pbenum.dart
client/folios/lib/google/protobuf/any.pbjson.dart
client/folios/lib/google/protobuf/api.pb.dart
client/folios/lib/google/protobuf/api.pbenum.dart
client/folios/lib/google/protobuf/api.pbjson.dart
client/folios/lib/google/protobuf/descriptor.pb.dart
client/folios/lib/google/protobuf/descriptor.pbenum.dart
client/folios/lib/google/protobuf/descriptor.pbjson.dart
client/folios/lib/google/protobuf/duration.pb.dart
client/folios/lib/google/protobuf/duration.pbenum.dart
client/folios/lib/google/protobuf/duration.pbjson.dart
client/folios/lib/google/protobuf/empty.pb.dart
client/folios/lib/google/protobuf/empty.pbenum.dart
client/folios/lib/google/protobuf/empty.pbjson.dart
client/folios/lib/google/protobuf/field_mask.pb.dart
client/folios/lib/google/protobuf/field_mask.pbenum.dart
client/folios/lib/google/protobuf/field_mask.pbjson.dart
client/folios/lib/google/protobuf/source_context.pb.dart
client/folios/lib/google/protobuf/source_context.pbenum.dart
client/folios/lib/google/protobuf/source_context.pbjson.dart
client/folios/lib/google/protobuf/struct.pb.dart
client/folios/lib/google/protobuf/struct.pbenum.dart
client/folios/lib/google/protobuf/struct.pbjson.dart
client/folios/lib/google/protobuf/timestamp.pb.dart
client/folios/lib/google/protobuf/timestamp.pbenum.dart
client/folios/lib/google/protobuf/timestamp.pbjson.dart
client/folios/lib/google/protobuf/type.pb.dart
client/folios/lib/google/protobuf/type.pbenum.dart
client/folios/lib/google/protobuf/type.pbjson.dart
client/folios/lib/google/protobuf/wrappers.pb.dart
client/folios/lib/google/protobuf/wrappers.pbenum.dart
client/folios/lib/google/protobuf/wrappers.pbjson.dart
